.empl_logo {
	width:100px;
	height:100px;
	padding : 7px 16px 0px 0px;
/*
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
 */
}
